.seccion_contenido{
    padding-top: 100px;
}
.breadcrumb{
    background-color: #ececec;
}
.borde{
    border: 1px solid #ececec;
    padding: 9px;
}
.btn-naranja{
	background-color:  #c32c2e;
}
.btn-naranja:hover{
	background-color:  #c32c2e;
	opacity: 0.8;
}
/* **************************** */
/*********** Footer **********/
/* **************************** */
ul
{
	list-style: none;
	padding: 0px;
}
.footer
{
	width: 100%;
	background: #1a1a1a;
}
.footer .section_title h1
{
	color: #FFFFFF;
}
.footer_content 
{
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: solid 2px #4d4e4e;
}
.footer_content .logo_container
{
	padding-left: 0px;
}
.footer_content .logo span
{
	color: #FFFFFF;
}
.footer_about_text
{
	margin-top: 24px;
	margin-bottom: 0px;
	padding-right: 20px;
}
.footer_column_title
{
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-top: 15px;
}
.footer_column_content
{
	margin-top: 32px;
}
.footer_list_item
{
	margin-bottom: 11px;
}
.footer_list_item a
{
	font-size: 14px;
	color: #a5a5a5;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_list_item a:hover
{
	color: #c32c2e;
}
.footer_contact_item
{
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
	margin-bottom: 22px;
}
.footer_contact_item:last-child
{
	margin-bottom: 0px;
}
.footer_contact_icon
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.footer_contact_icon img
{
	width: 100%;
}
/*********** Footer Copyright ******************/
.footer_bar{
	padding: 30px 0;
}
